body {
    margin: 0px;
}
 .nav-item:hover {
     cursor: pointer;
 }

 #navbar-hire-btn {
     background-color: #007BFF;
     color: white;
     border-radius: 100px;
     transition: 1s;
 }

 #navbar-hire-btn:hover {
     color: #007BFF;
     background-color: white;
     border: 1px solid #007BFF;
     transition-duration: 1s;
 }